{% extends "@NoticeBoardBundle/Default/layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'common.addrecipe'|trans }}{% endblock %}

{% block header %}
    {{ 'common.addrecipe'|trans }}
{% endblock %}


{% block nav %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="col-md-12">

        <div class="form">
            <div class="col-md-12">
                <div class="col-md-12">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="Title">
                        {{ 'recipe.title'|trans }}:&nbsp; {{ form_widget(form.title) }}
                    </div>
                    <div class="Board">
                        {{ 'recipe.category'|trans }}:&nbsp; {{ form_widget(form.Board) }}

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    {{ 'recipe.ingredients'|trans }}: {{ form_widget(form.requirements) }}
                </div>
                <div class="col-md-6">
                    <div class="image">
                        {% if image == true %}
                            {# <img src="/images/{{ id }}.jpg"> #}
                            <img class="recipe-image col-md-6" width="500" height="500" style="max-width: 100%;
    height: auto;" src="{{ asset('recipe/images/' ~ image) }}">
                        {% endif %}
                        {{ form_row(form.image, { 'attr': {'accept': 'image/*'} }) }}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="{{ 'title.section2'|trans }}">
                        {{ 'recipe.method'|trans }}: {{ form_widget(form.content) }}
                    </div>

                    <div class="{{ 'title.section3'|trans }}">
                        {{ 'recipe.notes'|trans }}: {{ form_widget(form.notes) }}
                    </div>

                    <div class="save">
                        {{ form_row(form.save, { 'label': "{{ 'common.save'|trans }}" }) }}
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
    <script>

        ClassicEditor
            .create(document.querySelector('textarea'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <style type="text/css">
        #addBoard {
            /*display: none;*/
        }

        textarea {
            required: false;
        }
    </style>

{% endblock %}
