{% extends "@NoticeBoardBundle/Default/layout.html.twig" %}

{% block title %}List Notice Board Notices TEST{% endblock %}
{% block nav %}
    {{ parent() }}
    {% for NoticeBoardNotices in Notices %}
        <a id="{{ NoticeBoardNotices.id }}" class="list-group-item active text-center"
           href="/notice/showNotice/{{ NoticeBoardNotices.title }}">{{ NoticeBoardNotices.title }}
            <b>{{ NoticeBoardNotices.board }} </b></a>
    {% endfor %}
{% endblock %}


{% block body %}
    <h3>List Notice Board Notice Test</h3>
    <ul>
    </ul>
{% endblock %}
