{% if showtitle == true %}
    {% set title = Notice|first.title %}
{% endif %}
{% set id = Notice|first.id %}
{% set board = Notice|first.Board %}
{% set requirements = Notice|first.Requirements %}
{% set content = Notice|first.Content %}
{% set notes = Notice|first.Notes %}
{% set image = Notice|first.image %}
{% if showimage == true %}
    {% set image = Notice|first.image %}
{% else %}
    {% set image = false %}
{% endif %}


<div>
    <div class="header">
        <h3>{{ title }}</h3>
    </div>
    <!-- edit button -->
    <div class="pull-right">
        <a href="{{ path('editNotice', {'slug': id}) }}">Edit</a>
    </div>
    <!-- end edit button -->


    <div class="col-md-12">
        <div class="col-md-6">
            <div id="{{ 'title.section1'|trans }}" class="section">
                {% block section1 %}
                    <h3>{{ 'title.section1'|trans }}</h3>
                    <div class="two-col">
                        {{ requirements|raw('html') }}
                    </div>
                {% endblock %}
            </div>
        </div>
        {% if image == true %}
            <div class="col-md-6">
                {# <img src="/images/{{ id }}.jpg"> #}
                <img class="recipe-image col-md-6" width="500" height="500" style="max-width: 100%;
    height: auto;" src="{{ asset('recipe/images/' ~ image) }}">
            </div>
        {% endif %}

    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <div id="{{ 'title.section2'|trans }}" class="section">
                {% block section2 %}
                    <h3>{{ 'title.section2'|trans }}</h3>
                    {{ content|raw('html') }}
                {% endblock %}
            </div>
            <div id="{{ 'title.section3'|trans }}" class="section">
                {% block section3 %}
                    {% if notes %}
                        <h3>{{ 'title.section3'|trans }}</h3>
                        {{ notes|raw('html') }}
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>

</div>

